/* ------------STUDIO------------ */

:root {
    --button-color: #2196F3;
    --color-black: #000000;
    --color-backgroud: #2F303A;
    --color-white: #FFFFFF;
    --color-smogy: #212121;
    --btn-color: #757575;
    --ftr-btn-clr: rgba(255, 255, 255, 0.6);
    --border-style: #F5F4FA;
    --sctn-bckgrnd-clr: #F5F4FA;
}

* {
    margin: 0;
    padding: 0;
}


/* -------TITLE------- */

.title {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: var(--button-color);
}


/* --------BODY------- */


body {
    font-family: 'Roboto', sans-serif;
}

.web{
    color: var(--button-color);
}

.studio {
    color: var(--color-black);
}

.header a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.list {
    list-style: none;
}

.header-nav-link {
    color: var(--color-smogy);
    text-decoration: none;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--button-color);
}

.header-nav-link:active {
    color: var(--color-black);
}

.header-mail,
.header-contact {
    color: var(--btn-color);
}

.header-mail:hover,
.header-mail:focus,
.header-contact:hover,
.header-contact:focus {
    color: var(--button-color);
}

.header-mail:active,
.header-contact:active {
    color: var(--color-black);
}

.primery {
    color: var(--button-color);
}

.secondary {
    color: var(--color-smogy);
}


/* -----------MAIN SECTION----------- */

.hero-main-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--color-white);
    background: var(--button-color);
    cursor: pointer;
}

.hero-main-btn:hover,
.hero-main-btn:focus {
    color: var(--btn-color);
}

.hero-main-btn:active {
    color: var(--color-black);
}

.hero {
    background: var(--color-backgroud);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white);
}

.qualities {

}

.quality-name {
    display: none;
}

.quality-list {

}

.quality-item {

}

.quality {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-smogy);
}

.quality-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: var(--btn-color);
}

.bussiness {

}

.bussiness-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    letter-spacing: 0.03em;
    color: var(--color-smogy);
}

.bussiness-items {

}

.bussiness-item {

}

.team {
    background-color: var(--sctn-bckgrnd-clr);
}

.name-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    letter-spacing: 0.03em;
    color: var(--color-smogy);
}

.team-items {

}

.team-item {

}

.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: var(--color-smogy);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--btn-color);
}


/* ------------FOOTER------------- */

.footer {
    background: var(--color-backgroud);
}

.footer a {
    text-decoration: none;
}

.footer .list {
    font-style: normal;
}

.subtitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
}

.webs {
    color: var(--button-color);
}

.bstudio {
    color: var(--color-white);
}

.address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: var(--color-white);
}

.footer-mail,
.footer-contact {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: var(--ftr-btn-clr);
}

.address:hover,
.address:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-contact:hover,
.footer-contact:focus {
    color: var(--button-color);
}

..address:active,
.footer-mail:active,
..footer-contact:active {
    color: var(--color-black);
}



/* --------------PORTFOLIO------------- */

.categories {

}

.name-categories {
    display: none;
}

.category-btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    color: var(--color-smogy);
    background: var(--border-style);
    cursor: pointer;
}

.category-btn:hover,
.category-btn:focus {
    color: var(--color-white);
    background-color: var(--button-color);
}

.category-btn:active {
    color: var(--color-black);
    background-color: var(--button-color);
}

.next-categories {

}

.categories-items {

}

.category-item {

}

.category-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0000;
    letter-spacing: 0.06em;
    color: var(--color-smogy);
}

.category-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--btn-color);
}

